@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* width: 100%; */
}
body {
width: 100% !important;
}
button {
  border: none;
}

#navbar {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  background-color: white;
  z-index: 1000;
}
ul {
  display: flex;
  width: 50%;
  gap:10px;
  justify-content: space-around;
 
}

#navbar .logo{
  color:#790569;
}
#navbar li {
  list-style: none;
  
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#navbar li a {
  text-decoration: none;
  font-size: 23px;
  color: #790569;
  font-weight: 300;
 
}
#navbar li a:hover,
#navbar li a:active {
  /* text-decoration: underline;
    text-decoration-color: blue; */
  content: "";
  height: 2px;
  width: 100%;
  border-bottom: 4px solid #790569;
  transition: 0.3s;
  font-weight: 500;
}
.harmburger {
  display: none;
  cursor: pointer;
}
.harmburger i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.9s ease-in-out;
  color: #790569;
}

/* STICKY */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* BODY SECTION */

.container {
  display: grid;
  grid-template-rows: (4 1fr);
  padding-top: 10px;
  color: white;
  background-color: #790569;
  max-width: 100%;
  
}
.container > div {
  /* border: 1px solid black; */
  min-height: 200px;
  
  
}
/* INTRO SECTION */
.intro {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


 
}
.intro-img{
  width: 277px;
  margin-top: 80px;
 
  -webkit-mask-image: linear-gradient(to bottom, rgb(201, 122, 122), transparent);
  mask-image: linear-gradient(to bottom, #8b6d80, transparent);
  
  
}
.intro-text h1 {
  font-size: 20px;
  line-height: 50px;
  font-family: "Playfair Display", serif;
}

#text {
  display: inline-block;
  font-size: 33px;
  text-align: justify;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: black;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #790569;
  }
}

/* buttons */
.btn {
  position: relative;
  text-decoration: none;
  outline: 0.5px solid #f1f1f1;
  background-color:#790569;
  color:#f1f1f1;
  font-size: 16px;
  font-weight: 200;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 45px 0 45px 0;
  margin-top: 20px;
  transition: all ease 0.5s;
}
.btn a {
  text-decoration: none;
  color: #010e1b;
  
  
}

.btn:hover {
  background-color: #790569;
  color:white;
  outline: none;
  
  
}
.btn:hover a {
  color: #790569;
  transition: all ease 200ms;
}

.btny {
  text-align: center;
 
}
.btno {
  margin-top: 10px;
  height: 50px;
  width: 140px;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}

.btno:hover {
  filter: grayscale(0);
  transform: scale(1.15);
  
}
.btno a {
  text-decoration: none;
  color: #010e1b;
  font-size: 18px;
}
.icon {
  padding-top: 20px;
}
.icon a {
  text-decoration: none;
}
.icon i {
  font-size: 34px;
  color: white;
  padding: 3px 10px;
  transition: 0.5s;
}
.icon i:hover {
  background-color:#790569;
}


.intro-img {
  /* border: 2px solid white; */
  height: 450px;
  margin-top: 10px;
  width: 50%;
  
  
}
.intro-img img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  padding-left: 70px;
  

}
#about,
#skill,
#service,
#contact,
#projects {
  padding-top: 50px;
 
}
#about p,
#skill p,
#service p {
  line-height: 37px;
}
/* ABOUT SECTION */
#about,
#service,
#skill,
#contact {
  background-color: rgb(255, 255, 255);
  color: #790569;
  max-width: 100%;
  padding-left: 40px;
}
 
#contact h1{
  color:#790569;
}

#about h1,

.service-title h1,
.contact-title h1
 {
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  padding-bottom: 60px;
  color: #790569;
  font-family: "Playfair Display", serif;
}
.skill-title h1{
  color: #790569;
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  padding-bottom: 60px;
  font-family: "Playfair Display", serif;
}
.swiper h1{
  color:#fff;
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  padding-bottom: 60px;
  font-family: "Playfair Display", serif;
}
.about-title,
.skill-title,
.service-title,
.contact-title,
.pro-title {
  position: relative;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  
}
.about-title:before,
.contact-title:before,
.service-title:before{
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 190px;
  height: 4px;
  background:#790569;
  transform: translateX(-50%);
}

.skill-title:before
 {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 190px;
  height: 4px;
  background: #790569;
  transform: translateX(-50%);
}
.pro-title:before{
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 190px;
  height: 4px;
  background: #fff;
  transform: translateX(-50%);
}

.about-title:after,
.service-title:after,
.contact-title:after
 {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:#790569;
  transform: translateX(-50%);
}
.skill-title:after,
.pro-title:after{
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #790569;
  transform: translateX(-50%);
}

.pro-title:after{
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  transform: translateX(-50%);
}

.about-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.about-pic {
  height: 400px;
  max-width: 55%;
  
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.about-text {
  width: 40%;
}

/* SKILL SECTION */
.skill-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-text {
  width: 40%;
}
.skill-pic {
  width: 40%;
  border: 5px solid #790569;
  height: 300px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.skill-pic img {
  width: 100%;
  object-fit: contain;
  height: 250px;
  padding-top: 30px;
}


/* SERVICES */
.content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top:20px;
  margin-left: 55px;
}
.content .card {
  background: #fff;
  max-width: 340px;
  width: 96%;
  padding: 20px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(1 1 1 / 15%);
}

.content .card .service-icon {
  color: #790569;
  font-size: 2em;
  text-align: center;
  transition: transform 0.5s ease;
}



.content .card .info {
  text-align: center;
}

.content .card .info h3 {
  color: #790569;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}
.service-text {
  text-align: justify;
 
}

/* contact section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the contact section takes full screen height */
  padding-left: 0;
}

.contact-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px; /* Adds space between contact cards and form */
}

.contact-card > div {
  height: 200px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card1 p {
  text-align: center;
  padding-top: 10px;
  color: #790569;
}

.card1 i {
  font-size: 30px;
  padding-top: 10px;
}

.card1 a {
  text-decoration: none;
  color: #790569;
}

.form {
  min-height: 400px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 50%;
  max-width: 400px; /* Ensures form does not exceed this width */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input,
.form textarea {
  height: 60px;
  border-radius: 7px;
  width: 90%;
  margin: 10px 0;
  border-color: #790569;
  padding: 20px;
  font-size: 18px;
}

.form input:active,
.form textarea:active {
  outline: 2px solid #000;
  border: none;
}

.form textarea {
  height: 120px;
}

.form-btn {
  background-color: #790569;
  color: white;
  transition: all 0.4s ease-in-out;
  height: 60px;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #000;
  color: #790569;
}

/* PROJECT  */
.swiper {
  background-color:#790569;
  padding: 40px 0 !important;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.swiper-wrapper{
  justify-content: center;
}

.swiper-slide {
  min-height: 200px !important;
  width: 320px !important;
  display: flex;
  
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 10px;
  margin-left: 15px;
  border-radius: 22px;
  border: 1px solid #f1f1f1;
  color: white;
}

.swiper-slide img {
  width: 300px; 
  
  object-fit: contain;
  border-radius: 22px;
  transition: all 0.4s ease-in-out;
}

.swiper-slide img:hover {
  filter: grayscale(0);
  transform: scale(1.06);
}
.pagy div {
  background-color: #790569;
  font-size: 24px;
  cursor: pointer;
}
/* Add this to your stylesheet */
.resume .btn a i.fa-download {
  color: white; 
}
.resume .btn a {
  color: white; 
}
/* .swiper-next {
  position: absolute;
  top: 47px !important;
  right: 50% !important;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  outline: 0.5px solid #f1f1f1;
  color: #f1f1f1 !important;
} */
/* .swiper-prev {
  position: absolute;
  top: 40px !important;
  left: 53% !important;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  outline: 0.5px solid #f1f1f1;
  color: #f1f1f1 !important;
} */

.swiper-next,
.swiper-prev {
  display: none;
}


.pagy {
  position: relative;
}
.pro-all > div p {
  color: white;
  text-align: center;
}
.resume {
  margin: 30px; 
  text-align: center;
}
.resume i{
  padding-right: 10px;
}
.resume button {
  padding-left: 10px;
  padding-right: 10px;
}
/* FOOTER */
footer {
  width: 100%;
  padding-top: 60px;
  margin-top: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4b0a3f;
  color: #fff;
}
.foot-icon i {
  color: white;
  font-size: 30px;
  margin: 10px;
}
.foot-icon i:hover{
  color:#790569;
}
/* LOAD MORE BUTTON */
.loadMore {
  display: none;
}
.loadMore p,
.loadMore li {
  line-height: 37px;
}
button:hover {
 
  color: white;
}
.read-show {
  display: inline;
}

/* FORM VALIDATION */
#err {
  text-align: center;
  color: red;
  font-style: italic;
}
/* MEDIA QUERIES */

/* Media Queries for Responsive Design */
/* Responsive Design */
@media screen and (max-width: 768px) {
  #navbar {
    padding: 10px;
  }

  #navbar ul {
    width: 100%;
    justify-content: space-evenly;
  }

  #navbar li a {
    font-size: 18px;
  }

  .intro {
    flex-direction: column;
    text-align: center;
   
     
  }

  .intro-img {
    width: 80%;
    margin: 20px 0;
  }

  .intro-text h1 {
    font-size: 18px;
  }

  .btn {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
  }
 
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 16px; /* Reduced padding */
    margin: 0; /* Removed extra margin */
  }
  .about-body {
    flex-direction: column;
    align-items: center;
  }

  .about-pic {
    height: 300px;
    max-width: 90%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .about-text {
    width: 80%;
    padding: 10px;
    text-align:justify;
  }

  .about-title h1 {
    font-size: 2rem; /* Adjust font size for mobile */
  }

  .about-text h2 {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .loadMore p {
    font-size: 1rem; /* Adjust font size for mobile */
  }

  .btn.Load {
    font-size: 1rem; /* Adjust button size for mobile */
  }
 

  .btno {
    margin-top: 10px;
    height: 50px;
    width: 140px;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
  }

  #skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 16px; /* Reduced padding */
    margin: 0; /* Removed extra margin */
  }

  .skill-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill-text {
    width: 90%;
    text-align: justify;
    margin-bottom: 20px;
    padding-right: 10px;
    font-size: 12px;
  }
  
  .skill-pic {
    width: 90%;
    height: 250px;
    border: none;
    box-shadow: none;
    margin-top: 20px;
  }

  .skill-pic img {
    height: 100%;
    padding-top: 0;
  }

  .btn {
    width: 40%;
    padding-top: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .content {
    flex-direction: column; /* Stacks the cards vertically */
    margin-left: 20px; /* Reduce left margin */
  }

  .content .card {
    max-width: 80%; /* Ensure cards take full width */
    margin-top: 10px ; 
    margin-bottom: 20px;
    padding-top: 20px; 
  }

  .content .card .service-icon {
    margin-top: 5px;
    font-size: 1.8em; /* Slightly smaller icons */
  }

  .content .card .info h3 {
    font-size: 1.1em; /* Slightly smaller font for headings */
  }

  .service-title h1 {
    font-size: 1.5em; /* Adjust title size for smaller screens */
  }
.section-body{
  margin-bottom: 20px;
}
  .service-text {
    width: 90%;
    text-align: justify;
    margin-bottom: 20px;
    padding-right: 10px;
    font-size: 16px;
   
  }
 
 
   
  .form {
    width: 80%;
    margin-top: 20px;
    
  }

  .form input {
    width: 90%;
  }

  
  .swiper-slide img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }
 

  .content {
    margin-left: 0; /* Adjust margin for smaller screens */
    margin-top: 20px;
  }

  .content .card {
    max-width: 100%; /* Cards take full width of the container */
    margin: 10px; /* Reduce margin for better spacing on smaller screens */
  }

  

  /* Adjust button style for mobile */
  .btno {
    padding: 10px 15px;
    font-size: 14px;
  }
  .swiper-wrapper{
    justify-content:space-between;
    gap: 10px;
    margin-left: 20px;
  }

  .swiper-slide {
    width: 90% !important; /* Make each slide take the full width */
    margin-left: 0 !important; /* Remove unnecessary margin for alignment */
    padding: 20px; /* Add padding for spacing */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 20px, rgba(0, 0, 0, 0.12) 0px 6px 6px;
  }

  .swiper-slide img {
    width: 100%; /* Let the image scale within the card */
    height: auto; /* Maintain aspect ratio */
  }
  .swiper-next, .swiper-prev {
    font-size: 25px;
  }
}
  


@media screen and (max-width: 480px) {
  body {
    width: 100% !important;
    }
    
  .intro-text h1 {
    font-size: 16px;
  }
  

  .content .info h3 {
    font-size: 1.2rem; /* Adjust heading size for better readability */
  }

  .content .info p {
    font-size: 0.9rem; /* Adjust paragraph size for smaller screens */
  }
 

  .btn {
    width: 60%;
    padding-top: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  

  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.nav-menu.active {
    display: flex;
}

.hamburger {
    display: block;
}
.harmburger i {
  font-size: 24px;
  cursor: pointer;
  color: #790569; 
  transition: all 0.3s ease-in-out;
}

.harmburger:hover i {
  color: #fff;
}

  .about-pic {
    width: 100%;
    padding: 10px;
  }

  .about-text {
    width: 100%;
    padding: 10px;
  }
  .content {
    flex-direction: column; /* Stacks the cards vertically */
    margin-right: 60px;
  }
  .content .card {
    width: 100%; /* Cards take full width of the container */
   padding: 40px;
  }
  .content .card .info {
    text-align: center;
    font-size: 15px;
  }
  
 
.btno {
  margin-top: 10px;
  height: 50px;
  width: 140px;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}
  .pro-titles:before{
    content: "";
    position: absolute;
    top: 140px;
    left: 50%;
    width: 290px;
    height: 4px;
    background: #fff;
    transform: translateX(-50%);
  }

  .pro-titles:after{
    content: "";
    position: absolute;
    top: 135px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%);
  }
  .swiper-wrapper{
    justify-content:space-between;
    gap: 10px;
    margin-left: 10px;
  }

.page{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
  .swiper-next,
  .swiper-prev {
    display: block;
    position: relative;
   
    padding: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #fff; 
    cursor: pointer;
  }
 

  .skill-text {
    font-size: 0.9rem;
  }

  #skill, #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .swiper-slide {
    min-height: 200px !important;
    width: 340px !important;
    display: flex;
    margin-right: 20px;
    
  }
  .resume button {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
  }
}




